 _______________________ 
{{ range .text }}< {{.}} >
{{else}}<        Moooooo!       >
{{ end }} ----------------------- 
{{- if .borg}}
   \
    \
        .--.
       |=_= |
       |:_/ |
      //   \ \
     (|     | )
    /'\_   _/`\
    \___)=(___/
{{- else if .dead}}
   \
    \
        .--.
       |X_X |
       |:_/ |
      //   \ \
     (|     | )
    /'\_   _/`\
    \___)=(___/
{{- else if .greedy}}
   \
    \
        .--.
       |$_$ |
       |:_/ |
      //   \ \
     (|     | )
    /'\_   _/`\
    \___)=(___/
{{- else if .paranoid}}
   \
    \
        .--.
       |@_@ |
       |:_/ |
      //   \ \
     (|     | )
    /'\_   _/`\
    \___)=(___/
{{- else if .stoned}}
   \
    \
        .--.
       |*_* |
       |:_/ |
      //   \ \
     (|     | )
    /'\_   _/`\
    \___)=(___/
{{- else if .tired}}
   \
    \
        .--.
       |-_- |
       |:_/ |
      //   \ \
     (|     | )
    /'\_   _/`\
    \___)=(___/
{{- else if .wired}}
   \
    \
        .--.
       |O_O |
       |:_/ |
      //   \ \
     (|     | )
    /'\_   _/`\
    \___)=(___/
{{- else if .youthful}}
   \
    \
        .--.
       |._. |
       |:_/ |
      //   \ \
     (|     | )
    /'\_   _/`\
    \___)=(___/
{{else}}
   \
    \
        .--.
       |o_o |
       |:_/ |
      //   \ \
     (|     | )
    /'\_   _/`\
    \___)=(___/
{{end}}